{
    "openapi": "3.1.0",
    "info": {
      "title": "Module Cadastre",
      "description": "\nLe service d’interrogation du cadastre permet d’obtenir les informations suivantes:\n\n  * les limites d'une commune\n  * les sections parcellaires\n  * les parcelles cadastrales\n  * le centroïde d’une parcelle (localisants)\n\nToutes les réponses sont au format GeoJSON et de type FeatureCollection.\nToutes les requêtes du module cadastre peuvent se faire en POST ou en GET. \nSur cette page, vous pouvez uniquement tester les modules avec des requêtes en GET.\n\nConsultez la [documentation utilisateur](https://apicarto.ign.fr/api/doc/pdf/docUser_moduleCadastre.pdf) pour plus d’informations sur les paramètres d’appel disponibles et le format des résultats.\n## Utilisation des ressources :\n  \n  Le champ *source_ign* permet de définir la ressource utilisée par l'API :\n\n  * PCI pour le Parcellaire Express\n  * BDP pour la BD Parcellaire\n  * Si le champ n'est pas rempli c'est le PCI qui sera utilisé\n  \n  La recherche des sections cadastrales se fait au travers de l'API feuille PCI Express et division BD Parcellaire selon le produit utilisé. \n  \n\n**Exemple de géométrie : (référentiel EPSG:4326)**\n\n  * Point: \n    \n    `{\"type\": \"Point\",\"coordinates\":[-1.691634,48.104237]}`\n\n  * MultiPolygon: \n    \n    `{\"type\":\"MultiPolygon\",\"coordinates\":[[[[-0.288863182067871,48.963666607295977],[-0.299592018127441,48.959299208576141],[-0.296330451965332,48.955325952385039],[-0.282125473022461,48.950675995388366],[-0.279722213745117,48.967019382922331],[-0.288863182067871,48.963666607295977]]]]}`\n  \n  * Polygone trouée: \n      \n    `{\"type\":\"Polygon\",\"coordinates\":[[[1.2,48.85],[1.3,48.85],[1.3,48.9],[1.2,48.9],[1.2,48.85]],[[1.23,48.86],[1.23,48.88],[1.26,48.88],[1.26,48.86],[1.23,48.86]]]}`\n\n  * Linéaire: \n\n    `{\"type\":\"LineString\",\"coordinates\":[[4.681549,47.793784],[4.741974,47.788248]]}`\n\n\n**Informations importantes** \n\n  * Le produit BD Parcellaire est un produit historique qui n'est plus mis à jour. Il est donc fortement conseillé d'utiliser le produit Parcellaire Express qui bénéficie d'une mise à jour semestrielle. [Voir la documentation de comparaison des deux produits](https://geoservices.ign.fr/ressources_documentaires/Espace_documentaire/PARCELLAIRE_CADASTRAL/Parcellaire_Express_PCI/Comparatif_PEPCI_BDPARCELLAIRE.pdf).    \n  * L'attribut *source_ign* est actuellement par défaut (valeur non remplie) interprété comme PCI.\n\n## Historique des changements\n\n  * Suppression /cadastre/geometrie : récupération des parcelles avec calcul de surfaces\n  * Uniformisation des noms d'attribut et paramètres de filtrage. Paramètre de filtrage = nom de l'attribut (codearr => code_arr, insee => code_insee, etc.)\n  * Ajout de la possibilité d'utiliser les couches PCI EXPRESS ou les couches BD PARCELLAIRE\n  * Création de la valeur BDP pour l'attribut *source_ign*\n  * Suppression du paramètre *apikey*\n  * Limitation à 500 réponses pour la recherche de communes\n",
      "contact": {
        "name": "API Carto Cadastre"
      },
      "version": "2.8.7"
    },
    "servers": [
      {
        "url": "https://apicarto.ign.fr/"
      }
    ],
    "paths": {
      "/api/cadastre/commune": {
        "get": {
          "tags": [
            "Commune"
          ],
          "description": "Récupération de la géométrie d'une commune.",
          "operationId": "getCommune",
          "parameters": [
            {
              "name": "code_insee",
              "in": "query",
              "description": "Code insee de la commune sur 5 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{5}"
              }
            },
            {
              "name": "code_dep",
              "in": "query",
              "description": "Code du département",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{2,3}"
              }
            },
            {
              "name": "geom",
              "in": "query",
              "description": "Géométrie au format GeoJson",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "$ref": "#/components/schemas/Geometry"
              }
            },
            {
              "name": "_limit",
              "in": "query",
              "description": "Limite de résultats à afficher(chiffre entre 1 et 500)",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "_start",
              "in": "query",
              "description": "Position pour le début de la recherche",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "source_ign",
              "in": "query",
              "description": "« PCI » pour la ressource Parcellaire Express ou « BDP » pour la ressource BD Parcellaire",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "items": {
                      "$ref": "#/components/schemas/FeatureCollectionCommune"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/cadastre/division": {
        "get": {
          "tags": [
            "Division BD Parcellaire"
          ],
          "summary": "Recherche d'informations sur les divisions parcellaires d'une commune",
          "description": "Retourne un résultat de Type \"FeatureCollection\" avec la liste des divisions parcellaires d'une commune\n* Paramètre insee => Retour des divisions parcellaires d'une commune\n* Paramètre Insee + section => Retour des divisions parcellaires d'une section dans une commune\n",
          "operationId": "getDivision",
          "parameters": [
            {
              "name": "code_insee",
              "in": "query",
              "description": "Code insee de la commune sur 5 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{5}"
              }
            },
            {
              "name": "code_dep",
              "in": "query",
              "description": "Code du département",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{2,3}"
              }
            },
            {
              "name": "code_com",
              "in": "query",
              "description": "Code de la commune",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{2,3}"
              }
            },
            {
              "name": "section",
              "in": "query",
              "description": "Section de la parcelle sur 2 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\w{2}"
              }
            },
            {
              "name": "code_arr",
              "in": "query",
              "description": "Code arrondisssement pour Paris, Lyon, Marseille",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{3}"
              }
            },
            {
              "name": "geom",
              "in": "query",
              "description": "Géométrie au format GeoJson",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "$ref": "#/components/schemas/Geometry"
              }
            },
            {
              "name": "_limit",
              "in": "query",
              "description": "Limite de résultats à afficher(chiffre entre 1 et 1000)",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "_start",
              "in": "query",
              "description": "Position pour le début de la recherche",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FeatureCollectionDivision"
                  }
                }
              }
            }
          }
        }
      },
      "/api/cadastre/feuille": {
        "get": {
          "tags": [
            "Feuille PCI EXPRESS"
          ],
          "summary": "Recherche d'informations sur les feuilles parcellaires d'une commune en utilisant la couche PCI EXPRESS",
          "description": "Retourne un résultat de Type \"FeatureCollection\" avec la liste des feuilles d'une commune\n* Paramètre insee => Retour des feuilles d'une commune\n* Paramètre Insee + section => Retour des feuilles d'une section dans une commune\n",
          "operationId": "getFeuille",
          "parameters": [
            {
              "name": "code_insee",
              "in": "query",
              "description": "Code insee de la commune sur 5 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{5}"
              }
            },
            {
              "name": "code_dep",
              "in": "query",
              "description": "Code du département",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{2,3}"
              }
            },
            {
              "name": "code_com",
              "in": "query",
              "description": "Code de la commune",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{2,3}"
              }
            },
            {
              "name": "section",
              "in": "query",
              "description": "Section de la parcelle sur 2 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\w{2}"
              }
            },
            {
              "name": "code_arr",
              "in": "query",
              "description": "Code arrondisssement pour Paris, Lyon, Marseille",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{3}"
              }
            },
            {
              "name": "geom",
              "in": "query",
              "description": "Géométrie au format GeoJson",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "$ref": "#/components/schemas/Geometry"
              }
            },
            {
              "name": "_limit",
              "in": "query",
              "description": "Limite de résultats à afficher (chiffre entre 1 et 1000)",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "_start",
              "in": "query",
              "description": "Position pour le début de la recherche",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FeatureCollectionFeuillePCI"
                  }
                }
              }
            }
          }
        }
      },
      "/api/cadastre/parcelle": {
        "get": {
          "tags": [
            "Parcelle"
          ],
          "summary": "Recherche d'informations sur les parcelles cadastrales d'une commune",
          "description": "Retourne un résultat de Type \"FeatureCollection\" avec différentes informations sur les parcelles cadastrales.\n",
          "operationId": "getParcelle",
          "parameters": [
            {
              "name": "code_insee",
              "in": "query",
              "description": "Code insee de la commune sur 5 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{5}"
              }
            },
            {
              "name": "section",
              "in": "query",
              "description": "Section de la parcelle sur 2 caractères'",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\w{2}"
              }
            },
            {
              "name": "numero",
              "in": "query",
              "description": "Numero de la parcelle sur 4 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{4}"
              }
            },
            {
              "name": "code_arr",
              "in": "query",
              "description": "Code arrondissement pour Paris, Lyon, Marseille",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{3}"
              }
            },
            {
              "name": "com_abs",
              "in": "query",
              "description": "Code commune absorbée",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{3}"
              }
            },
            {
              "name": "geom",
              "in": "query",
              "description": "Géométrie au format GeoJson",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "$ref": "#/components/schemas/Geometry"
              }
            },
            {
              "name": "_limit",
              "in": "query",
              "description": "Limite de résultats à afficher (chiffre entre 1 et 1000)",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "_start",
              "in": "query",
              "description": "Position pour le début de la recherche",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "source_ign",
              "in": "query",
              "description": "« PCI » pour la ressource Parcellaire Express ou « BDP » pour la ressource BD Parcellaire",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FeatureCollectionParcelle"
                  }
                }
              }
            }
          }
        }
      },
      "/api/cadastre/localisant": {
        "get": {
          "tags": [
            "Localisant"
          ],
          "summary": "Informations sur les parcelles non vectorisées.",
          "description": "Renvoie une featureCollection de type Point pour centrer le point sur une carte",
          "operationId": "getLocalisant",
          "parameters": [
            {
              "name": "code_insee",
              "in": "query",
              "description": "Code insee de la commune sur 5 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{5}"
              }
            },
            {
              "name": "section",
              "in": "query",
              "description": "Section de la parcelle",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\w{2}"
              }
            },
            {
              "name": "numero",
              "in": "query",
              "description": "Numéro de la parcelle sur 4 caractères",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{4}"
              }
            },
            {
              "name": "code_arr",
              "in": "query",
              "description": "Code arrondissement pour Paris, Lyon, Marseille",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "pattern": "\\d{3}"
              }
            },
            {
              "name": "geom",
              "in": "query",
              "description": "Géométrie au format GeoJson",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {
                "$ref": "#/components/schemas/Geometry"
              }
            },
            {
              "name": "_limit",
              "in": "query",
              "description": "Limite de résultats à afficher (chiffre entre 1 et 1000)",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "_start",
              "in": "query",
              "description": "Position pour le début de la recherche",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            },
            {
              "name": "source_ign",
              "in": "query",
              "description": "« PCI » pour la ressource Parcellaire Express ou « BDP » pour la ressource BD Parcellaire",
              "required": false,
              "style": "form",
              "explode": true,
              "schema": {}
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FeatureCollectionLocalisant"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "Coordinate": {
          "maxItems": 4,
          "minItems": 2,
          "items": {}
        },
        "Geometry": {
          "properties": {
            "type": {
              "description": "Le type géométrique",
              "enum": [
                "Point",
                "LineString",
                "Polygon",
                "MultiPoint",
                "MultiLineString",
                "MultiPolygon"
              ]
            },
            "coordinates": {
              "items": {}
            }
          },
          "description": "Une `Geometry` au sens GeoJSON"
        },
        "Feature": {
          "properties": {
            "type": {
              "description": "Le type d'objet GeoJSON (`Feature`)"
            },
            "id": {},
            "geometry": {
              "$ref": "#/components/schemas/Geometry"
            }
          },
          "description": "Une `Feature` au sens GeoJSON"
        },
        "FeatureCollection": {
          "properties": {
            "type": {
              "description": "Le type d'objet GeoJSON (`FeatureCollection`)"
            },
            "features": {
              "items": {}
            }
          },
          "description": "Une `FeatureCollection` au sens GeoJSON"
        },
        "Point": {
          "properties": {
            "type": {
              "description": "Le type géométrique (`Point`)",
              "enum": [
                "Point"
              ]
            },
            "coordinates": {
              "$ref": "#/components/schemas/Coordinate"
            }
          },
          "description": "Un `Point` au sens GeoJSON"
        },
        "MultiPoint": {
          "properties": {
            "type": {
              "description": "Le type géométrique (`MultiPoint`)"
            },
            "coordinates": {
              "items": {}
            }
          },
          "description": "Un `MultiPoint` au sens GeoJSON"
        },
        "MultiPolygon": {
          "properties": {
            "type": {
              "description": "Le type géométrique (`MultiPolygon`)"
            },
            "coordinates": {
              "items": {}
            }
          },
          "description": "Un `MultiPolygon` au sens GeoJSON"
        },
        "FeatureCommune": {
          "properties": {
            "properties": {
              "properties": {
                "nom_commune": {},
                "code_dep": {},
                "code_insee": {}
              }
            },
            "geometry": {
              "$ref": "#/components/schemas/MultiPolygon"
            }
          },
          "description": "Une commune",
          "allOf": [
            {
              "$ref": "#/components/schemas/Feature"
            }
          ]
        },
        "FeatureCollectionCommune": {
          "properties": {
            "features": {
              "items": {
                "$ref": "#/components/schemas/FeatureCommune"
              }
            },
            "geometry": {
              "$ref": "#/components/schemas/MultiPolygon"
            }
          },
          "description": "Une `FeatureCollection` contenant uniquement des features de type `FeatureCommune`",
          "allOf": [
            {
              "$ref": "#/components/schemas/FeatureCollection"
            }
          ]
        },
        "FeatureDivision": {
          "properties": {
            "properties": {
              "properties": {
                "feuille": {},
                "section": {},
                "code_dep": {},
                "code_com": {},
                "com_abs": {},
                "echelle": {},
                "code_arr": {}
              }
            },
            "geometry": {
              "$ref": "#/components/schemas/MultiPolygon"
            }
          },
          "description": "Une division",
          "allOf": [
            {
              "$ref": "#/components/schemas/Feature"
            }
          ]
        },
        "FeatureCollectionDivision": {
          "properties": {
            "features": {
              "items": {
                "$ref": "#/components/schemas/FeatureDivision"
              }
            }
          },
          "description": "Une `FeatureCollection` contenant uniquement des features de type `FeatureDivision`",
          "allOf": [
            {
              "$ref": "#/components/schemas/FeatureCollection"
            }
          ]
        },
        "FeatureParcelle": {
          "properties": {
            "properties": {
              "properties": {
                "numero": {},
                "feuille": {},
                "section": {},
                "code_dep": {},
                "code_com": {},
                "com_abs": {},
                "echelle": {},
                "code_arr": {}
              }
            },
            "geometry": {
              "$ref": "#/components/schemas/MultiPolygon"
            }
          },
          "description": "Une parcelle",
          "allOf": [
            {
              "$ref": "#/components/schemas/Feature"
            }
          ]
        },
        "FeatureCollectionParcelle": {
          "properties": {
            "features": {
              "items": {
                "$ref": "#/components/schemas/FeatureParcelle"
              }
            }
          },
          "description": "Une `FeatureCollection` contenant uniquement des features de type `FeatureParcelle`",
          "allOf": [
            {
              "$ref": "#/components/schemas/FeatureCollection"
            }
          ]
        },
        "FeatureLocalisant": {
          "properties": {
            "properties": {
              "properties": {
                "numero": {},
                "feuille": {},
                "section": {},
                "code_dep": {},
                "code_com": {},
                "com_abs": {},
                "echelle": {},
                "code_arr": {}
              }
            },
            "geometry": {
              "$ref": "#/components/schemas/MultiPoint"
            }
          },
          "description": "Un ponctuel localisant une parcelle cadastrale",
          "allOf": [
            {
              "$ref": "#/components/schemas/Feature"
            }
          ]
        },
        "FeatureCollectionLocalisant": {
          "properties": {
            "features": {
              "items": {
                "$ref": "#/components/schemas/FeatureLocalisant"
              }
            }
          },
          "description": "Une `FeatureCollection` contenant uniquement des features de type `FeatureLocalisant`",
          "allOf": [
            {
              "$ref": "#/components/schemas/FeatureCollection"
            }
          ]
        },
        "FeatureFeuillePCI": {
          "properties": {
            "properties": {
              "properties": {
                "feuille": {},
                "section": {},
                "code_dep": {},
                "nom_comm": {},
                "code_com": {},
                "com_abs": {},
                "echelle": {},
                "code_arr": {},
                "code_insee": {}
              }
            },
            "geometry": {
              "$ref": "#/components/schemas/MultiPolygon"
            }
          },
          "description": "Une feuille",
          "allOf": [
            {
              "$ref": "#/components/schemas/Feature"
            }
          ]
        },
        "FeatureCollectionFeuillePCI": {
          "properties": {
            "features": {
              "items": {
                "$ref": "#/components/schemas/FeatureFeuillePCI"
              }
            }
          },
          "description": "Une `FeatureCollection` contenant uniquement des features de type `FeatureFeuillePCI`",
          "allOf": [
            {
              "$ref": "#/components/schemas/FeatureCollection"
            }
          ]
        }
      }
    }
  }