<section>
    <form [formGroup]="clientForm" (submit)="submitClientForm()"> 
        <!--     firstName:string,
    lastname:string,
    mail:string,
    
    address:string,
    postCode:string,
    city:string,

    parcelId:string,
    pluLink:string,-->
        <mat-form-field class="input-client">
            <mat-label>Votre prénom</mat-label>
            <input matInput type="text" formGroupName="firstName"/>
        </mat-form-field>
        <mat-form-field class="input-client">
            <mat-label>Votre nom</mat-label>
            <input matInput type="text" formControlName="lastName"/>
        </mat-form-field>
        <mat-form-field class="input-client">
            <mat-label>Votre adresse</mat-label>
            <input matInput type="text" formControlName="address" (change)="updateAdresseSaisie()"/>
        </mat-form-field>

        <mat-form-field class="input-client">
            <mat-label>Adresse compatible</mat-label>
            <mat-select formGroupName="address2">
                @for(ad of matchingAdresses; track ad.fulltext){
                    <mat-option value="{{ad.fulltext}}">{{ad.fulltext}}</mat-option>
                }    
            </mat-select>
        </mat-form-field>
        
        <label for="address2">Adresse selectionnée</label>  

        <app-leaflet-map></app-leaflet-map>
        <button type="submit" class="primary">Soumettre</button>

    </form>
</section>
