.input-client{
  display:block;
  width: 100%;
}
.progress-addr{
  width: 100%;
  margin: 10px;
}

.flex-client-form{
  
}

/* Control the left side */
.left {
   display: block;
   align-content: flex-start;
   width: 60%;
   padding: 5px;
   background-color: var(--content-client-form-left);
}

/* Control the right side */
.right {
  display: block; 
  align-content: flex-start;
  width: 40%;
  padding: 5px;
  line-height: 1em;
  background-color: var(--content-client-form-right);
}



.alert-danger{
  color:purple;
  font-size: 1em;
}