<div class="flex-client-form">
    <!-- <div class="left"> -->
        <form [formGroup]="clientForm" (submit)="submitClientForm($event)"> 

            <mat-form-field class="input-client">
                <mat-label>Votre prénom</mat-label>
                <input matInput type="text" formControlName="firstName" placeholder="Exemple: Anakin"/>
            </mat-form-field>
            <mat-form-field class="input-client">
                <mat-label>Votre nom</mat-label>
                <input  matInput type="text" formControlName="lastName" placeholder="Exemple: Skywalker"/>
            </mat-form-field>
            <mat-form-field class="input-client">
                <mat-label>Votre adresse</mat-label>
                <input matInput type="text" formControlName="address" (change)="updateAdresseSaisie()" placeholder="Exemple: 3 Rue de l\'Abbé Rozier, 69001 Lyon"/>
            </mat-form-field>

            
            @if(this.chargementAdressesEnCours){
                <label for="address2">Recherche de correspondances en cours...</label> 
                <mat-progress-bar class="progress-addr" mode="buffer"></mat-progress-bar>
            }
            @if(this.chargementAdressesTente){
                <p>Adresses compatibles trouvés : {{this.matchingAdresses.length}}</p>  
            }
            <mat-form-field class="input-client">
                <mat-label>Adresses compatibles</mat-label>
                <mat-select (selectionChange)="newLocationSelected($event)" formGroupName="address2">
                    @for(ad of matchingAdresses; track ad.fulltext){
                        <mat-option value="{{ad.fulltext}}">{{ad.fulltext}}</mat-option>
                    }    
                </mat-select>
            </mat-form-field> 

            
            
            @if(this.selectedAddress){
                <app-leaflet-map [selectedAddress]="selectedAddress" (parcelleEvent)="newParcelInfo($event)"></app-leaflet-map>
            }
            <a mat-flat-button routerLink="">Retour</a>
            
            <button mat-flat-button type="submit" class="submit_form">Soumettre</button>
            
        </form>
<!--
    </div>


    <div class="right">
        @if(this.clientForm.invalid){
            <h3>Erreurs :</h3>
        }
        @if(this.clientForm.invalid && firstName?.invalid){
            <div class="alert alert-danger">le prénom n'est pas saisi</div>
        }
        @if(this.clientForm.invalid && lastName?.invalid){
            <div class="alert alert-danger">le nom n'est pas saisi</div>
        }
        @if(this.clientForm.invalid && address?.invalid){
            <div class="alert alert-danger">l'adresse n'est pas saisie</div>
        }
        @if(!this.selectedAddress){
            <div class="alert alert-danger">Aucune adresse trouvée choisi</div>
        }

        @if(this._parcelInfoReceived){
            <h3>Informations parcelle :</h3>
            <div>{{this._parcelInfoReceived.id}}</div>
            @if(this._parcelInfoReceivedProps){
                <div>code_arr : {{this._parcelInfoReceivedProps['code_arr']??''}}</div>
                <div>code_com : {{this._parcelInfoReceivedProps['code_com']??''}}</div>
                <div>code_dep : {{this._parcelInfoReceivedProps['code_dep']??''}}</div>
                <div>code_insee : {{this._parcelInfoReceivedProps['code_insee']??''}}</div>
                <div>com_abs : {{this._parcelInfoReceivedProps['com_abs']??''}}</div>
                <div>contenance : {{this._parcelInfoReceivedProps['contenance']??''}}</div>
                <div>feuille : {{this._parcelInfoReceivedProps['feuille']??''}}</div>
                <div>gid : {{this._parcelInfoReceivedProps['gid']??''}}</div>
                <div>idu : {{this._parcelInfoReceivedProps['idu']??''}}</div>
                <div>nom_com : {{this._parcelInfoReceivedProps['nom_com']??''}}</div>
                <div>numero : {{this._parcelInfoReceivedProps['numero']??''}}</div>
                <div>section : {{this._parcelInfoReceivedProps['section']??''}}</div>
            }

        }
    </div>
-->
</div>