@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$blue-palette,    
    typography: (
      plain-family: Roboto,
      brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: 0,
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}


/*

angular json - >
node_modules/@angular/material/prebuilt-themes/azure-blue.css
node_modules/@angular/material/prebuilt-themes/cyan-orange.css
node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css
node_modules/@angular/material/prebuilt-themes/indigo-pink.css
node_modules/@angular/material/prebuilt-themes/magenta-violet.css
node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css
node_modules/@angular/material/prebuilt-themes/purple-green.css
node_modules/@angular/material/prebuilt-themes/rose-red.css 

*/
// $red-palette, $green-palette, $blue-palette,
//   $yellow-palette, $cyan-palette, $magenta-palette, $orange-palette,
//   $chartreuse-palette, $spring-green-palette, $azure-palette, $violet-palette, $rose-palette;

// /* You can add global styles to this file, and also import other style files */
// * {
//   margin: 0;
//   padding: 0;
// }

// body {
//   font-family: 'Be Vietnam Pro', sans-serif;
// }
// :root {
//   --primary-color: #605DC8;
//   --secondary-color: #252362;
//   --accent-color: #e8e7fa;
//   --shadow-color: #E8E8E8;
// }

// button.primary {
//   padding: 10px;
//   border: solid 1px var(--primary-color);
//   background: var(--primary-color);
//   color: white;
//   border-radius: 8px;
// }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
